<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pedidos</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="./img/iconuprint.png" id="">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">      
        
    </head>
    <body>
        <!-- NAV -->
<nav id="navbar" class="navbar navbar-expand-md navbar-light fixed-top bg-light" id="main-nav">
    <div class="container">
      <a href="/dashboard" class="navbar-brand">
        <img src="../logo/homelogo-01.png" width="180px" height="32px" alt="">
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          

          <li class="nav-item pt-3 ml-2 mr-2">
            <a href="/kiosko" class="nav-link"><h1 class="lead" style="font-size: 22px"><i class="fas fa-home"></i> Kiosko </h1></a>
          </li>

          <li class="nav-item pt-3 ml-2 mr-2">
            <a href="/prodd" class="nav-link"><h1 class="lead" style="font-size: 22px"><i class="fas fa-box-open"></i> Productos </h1></a>
          </li>
         
          <li class="nav-item pt-3 ml-2 mr-2">
            <a href="/pro" class="nav-link"><h1 class="lead" style="font-size: 22px"><i class="fas fa-people-carry"></i> Pedidos </h1></a>
          </li>
         
         
          <li class="nav-item dropdown mt-2 pb-2 ml-2 mr-2">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
              <button type="button" class="btn btn-primary">
                
                <i class="fas fa-user text-white"></i>
                <span class="badge badge-light text-secondary">Admin</span>
              </button>
            </a>

            <div class="dropdown-menu">
                <a href="/dashboard">
                <button class="btn btn-light ml-3 mr-1">
                <i class="fas fa-angle-double-right"></i>
                <span class="badge">Login</span>
                </button>
                </a>

                <a href="/logout">
                <button class="btn btn-light ml-3 mr-1">
                <i class="fas fa-sign-out-alt"></i>
                <span class="badge">Cerrar sesión</span>
                </button>
                </a>
            </div>
            
          </li>    
            
        </ul>
      </div>
    </div>
  </nav>
        
<!-- HEADER -->
  <header id="main-header" style="background-image:url(img/dif2.png)" class="py-2">
    <div class="container">
      <div class="row">
          
        <div class="col-md-6">
          <h1><i class="fas fa-people-carry"></i> Pedidos</h1>
        </div>

        <div class="col-md-5">
          
        </div>
          
        <div class="col-md-1" data-toggle="tooltip" data-placement="left" title="¿Necesitas ayuda acerca de como funciona la interfaz? ¡Haz click aquí!">
          <a href="" data-toggle="modal" data-target="#prodmodalhelp">
          <h1><i class="fas fa-question-circle text-right text-dark"></i></h1>
          </a>
        </div> 
          
      </div>
    </div>
  </header>        

        <div class="container mt-5 pb-5 mb-5 mb-3">
            
            <div class="row">
                <form name="formulario" method="post" action="/proselect">
                    <div class="row fechas">
                        <div class="col-md-4 text-center">
                           
                        <div class="card text-center bg-white text-secondary" data-toggle="tooltip" data-placement="top" title="Selecciona la fecha de inicio:">
                            <div class="card-body">
                                 <h4><i class="fas fa-calendar-alt"></i> Mostrar desde la fecha:</h4>
                            <!-- Campo de entrada de fecha -->
                            Selecciona la fecha deseada:
                            <input type="date" name="fechaini" min="25-03-2018" step="1" value="xx-xx-xxxx" required>
                            </div>
        
                        </div>
                        </div>

                        <div class="col-md-4 text-center">

                        <div class="card text-center bg-white text-secondary" data-toggle="tooltip" data-placement="top" title="Selecciona la fecha final:">
                            <div class="card-body">
                            <h4><i class="fas fa-calendar-alt"></i> Hasta la fecha:</h4>
                            <!-- Campo de entrada de fecha -->
                            Selecciona la fecha deseada:
                            <input type="date" name="fechafin" min="25-03-2018" step="1" value="xx-xx-xxxx" required>
                            </div>
                        </div>

                        </div>
                        <div class="col-md-4 text-center">
                        
                        <div class="card text-center bg-white text-secondary" data-toggle="tooltip" data-placement="top" title="Busca los pedidos de las fechas seleccionadas">
                            <div class="card-body">
                                <h4><i class="fas fa-clock"></i> Buscar intervalo</h4>
                            <!-- Campo para buscar -->
                                <button type="submit" class="btn btn-dark btn-lg btn-block mt-5 mb-4 pb-3"> <i class="fas fa-search ml-2 mr-2" aria-hidden="true"></i> Buscar</button>
                            </div>
                        </div>
                            
                        </div>
                    </div>
                </form>
                <hr>
            </div>

            
            <div class="row tabla mt-4">
                    <table class="table table-sm table-hover" style="background-color: white;">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">No. de artículo</th>
                                <th scope="col">Articulo</th>
                                <th scope="col">Fecha de pedido</th>
                                <th scope="col">Estatus</th>
                                <th scope="col">Detalles</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--Recupera datos-->
                            <% productos.forEach(producto => { %>
                                
                                <tr>
                                    <form method="POST" action="/cambStatus/<%= producto.idArticle %>/<%= producto.idSelling %>">
                                    <td><p id="idVen" name="idVen"><%= producto.idSelling %></p></td>
                                    <td><p id="idArt" name="idArt"><%= producto.idArticle %></p></td>
                                    <td><%= producto.nameProduct %></td>
                                    <td ><%= producto.fecha %></td>
                                    <td>
                                        <div class="form-group">
                                            <select class="form-control  pb-2 mt-2" id="exampleFormControlSelect1" name="exampleFormControlSelect1" >
                                                    <% if(producto.statusOrder == 1){ %>
                                                        <option value="1" disabled selected>Recibido</option>        
                                                    <% } else{ %>  
                                                        <option value="1" >Recibido</option>        
                                                    <% } %>
                                                    <% if(producto.statusOrder == 2){ %>
                                                        <option value="2" disabled selected>En producción</option>        
                                                    <% } else{ %>  
                                                        <option value="2">En producción</option>
                                                    <% } %>
                                                    <% if(producto.statusOrder == 3){ %>
                                                        <option value="3" disabled selected>Terminado</option>        
                                                    <% } else{ %>  
                                                        <option value="3">Terminado</option>
                                                    <% } %>
                                                    <% if(producto.statusOrder == 4){ %>
                                                        <option value="4" disabled selected>Enviado</option>        
                                                    <% } else{ %>  
                                                        <option value="4">Enviado</option>
                                                    <% } %>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target="#miModal<%= producto.idVenta %> ">
                                            Detalles del pedido
                                        </a>
                                        <div class="modal fade" id="miModal<%= producto.idVenta %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" id="myModalLabel"><%= producto.nameProduct %></h4>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col">
                                                                    <img src="/img/fr1.JPG" width="180px" height="200px" alt="">
                                                            </div>
                                                            <div class="col">
                                                                <p>Categoría: <%= producto.nameCategory %></p>
                                                                <p>Medidas: <%= producto.widthDimension %> X <%= producto.heightDimension %> </p>
                                                                <p>Cantidad: <%= producto.quantity %></p>
                                                                <p>C.P.: <%= producto.zipNameSelling %></p>
                                                                <p>Calle: <%= producto.street %></p>
                                                                <p>Precio: <%= producto.price %></p>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <button class="btn btn-success">Guardar Status</button>
                                    </td> 
                                </form> 
                                </tr>
                                <% })%>
                            </tbody>
                        </table>
                        
                      
                    </div>
                    
                </div>


<div class="modal fade" id="prodmodalhelp">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-dark text-white">
          <h5 class="modal-title">Bienvenido a la interfaz de pedidos</h5>
          <button class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
          
        <div class="modal-body">

            <h1 style="color: #007bff;">Guía Rapida:</h1>
            <div style="font-weight: bolder;"><p>¡Bienvenido a la ventana para administrar Pedidos!</p></div>
            <div>Para filtrar los pedidos, se debe elegir un rango de fechas</div>
            <div>Se ingresa una fecha inicial y una final en los campos: <span><input type="date"step="1" value="xx-xx-xxxx"></span></div>
            <div>una vez elegidas las fecha inicial y la final, dar click en el boton: <span><button class="btn btn-dark btn-lg btn-block mt-5 mb-4 pb-3" style="cursor: auto;"> <i class="fas fa-search ml-2 mr-2" aria-hidden="true"></i> Buscar</button></span></div>





        </div>
       
        </div>
      </div>
</div>

                <!-- FOOTER -->
<footer id="main-footer" class="pt-5 mt-5 pb-5 text-white" style="background-image:url(img/dif3.png)">         
        <div class="container">
                    <div class="row text-center">
                          <div class="col-md-12 mt-4">
                              <h6 class="lead" style="font-size: 15px">
                              <span id="year"></span>
                              &copy; uPrint.com <br> Todos los Derechos Reservados
                              </h6>
                          </div>
                    </div>
                      
        </div>         
</footer>



 <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
  <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>

           
<script>
// Get the current year for the copyright
$('#year').text(new Date().getFullYear());
// Init Scrollspy
$('body').scrollspy({ target: '#main-nav' });
// Smooth Scrolling
$("#main-nav a").on('click', function (event) {
        if (this.hash !== "") {
            event.preventDefault();
            const hash = this.hash;
            $('html, body').animate({
                scrollTop: $(hash).offset().top
                }, 800, function () {
                window.location.hash = hash;
                });
                }
            });
</script>
              
                         
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

        </body>
    
</html>