<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="icon" href="img/iconuprint.png" id="">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
  <title>uPrint</title>
</head>

<body id="home" data-spy="scroll" data-target="#main-nav" style="background-image:url(img/dif2.png)">
     <nav id="navbar" class="navbar navbar-expand-md navbar-light fixed-top bg-light" id="main-nav">
    <div class="container">
      <a href="/" class="navbar-brand">
        <img src="../logo/homelogo-01.png" width="180px" height="32px" alt="">
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item pt-2">
                <a href="/" class="nav-link"><h1 class="lead pl-3 pr-3 pt-1 pb-1" style="font-size: 17px"> Inicio </h1></a>
                </li>
                
                <li class="nav-item pt-2">
                <a href="/productos" class="nav-link"><h1 class="lead pl-3 pr-3 pt-1 pb-1" style="font-size: 17px"> Productos </h1></a>
                </li>

                <li class="nav-item pt-2">
                <a href="/personalizar" class="nav-link"><h1 class="lead pl-3 pr-3 pt-1 pb-1" style="font-size: 17px"> Personalización </h1></a>
                </li>

                <li class="nav-item pt-2">
                <a href="/contacto" class="nav-link"><h1 class="lead pl-3 pr-3 pt-1 pb-1" style="font-size: 17px"> Contacto </h1></a>
                </li>

          <li class="nav-item pt-2">
              <button type="button" class="btn btn-info">
                <a id="shoppingBag" href="/carrito">
                <i class="fas fa-shopping-cart text-white"></i>
                <span class="badge badge-light text-secondary">3</span>
                <span class="sr-only">unread messages</span>
                </a>
             </button>
          </li>

          <li class="nav-item dropdown pt-.8">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                <button type="button" class="btn btn-info">
                  
                  <i class="fas fa-user text-white"></i>
                  <span class="badge badge-light text-secondary">
                      <% if(user){ %>
                          <%= user.username %>
                        <% } else { %>
                        Login
                        <% } %>
                  </span>
                </button>
              </a>
  
              <div class="dropdown-menu">
                  <a href="/signin">
                  <button class="btn btn-light ml-3 mr-1">
                  <i class="fas fa-angle-double-right"></i>
                  <span class="badge">Login</span>
                  </button>
                  </a>
                  <% if(user){ %>
                  <a href="/salir">
                  <button class="btn btn-light ml-3 mr-1">
                  <i class="fas fa-sign-out-alt"></i>
                  <span class="badge">Cerrar sesión</span>
                  </button>
                  </a>
                  <% } %>
              </div>
              
            </li>

        </ul>
      </div>
    </div>
  </nav>

    
<div class="container">
    <div class="row">
        <div class="col-md-12">
          <h5 class="h2"><i class="fas fa-shopping-cart"></i> Carrito (STATIC TEST)</h5>
        </div>
        
        <% for(var i=0; i< micarrito.length ; i++) { %>
        <div class="col-md-12">
            
            <div class="card">
                <div class="container">
                    <div class="row">

                        <div class="col-md-2">
                            <div class="card">
                                <img class="card-img-top" src="/img/<%= micarrito[i].imageProduct %>" alt="Card image cap">
                                <div class="card-body">
                            
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                                <div class="card-body">
                                    <h5 class="card-title"><%= micarrito[i].nameProduct %> uPrint®</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Categoria: <%= micarrito[i].nameCategory %></h6>
                                    <p class="card-text">
                                        <span class="badge badge-primary">Modelo: Libro evento1</span>
                                        <span class="badge badge-primary">Bordado: Cocodrilo</span>
                                        <span class="badge badge-primary">Material: Piel sintética</span>
                                        <span class="badge badge-primary">Color: Rosa</span>
                                    </p>
                                    <% if(micarrito[i].nameCategory=="Foto Regalos"){%>
                                      <a href="productos#secfotoregalos" class="card-link text-success"><i class="fas fa-plus"></i> Más productos de esta categoría</a>
                                      <% }else if(micarrito[i].nameCategory=="Foto libros"){ %>
                                        <a href="productos#secfotolibros" class="card-link text-success"><i class="fas fa-plus"></i> Más productos de esta categoría</a>
                                        <% }else{ %>
                                          <a href="productos#secfotomarcos" class="card-link text-success"><i class="fas fa-plus"></i> Más productos de esta categoría</a>
                                        <% } %>                                    <a href="#" class="card-link text-info"><i class="fas fa-edit"></i> Modificar</a>
                                    <a href="#" class="card-link text-danger"><i class="fas fa-trash-alt"></i> Eliminar</a>
                                </div>
                        </div>

                        
                        <div class="col-md-2 mt-5 pt-3">
                        <input type="number" class="form-control" id="min" placeholder="1"  name="min">
                        <p class="font-weight-light muted">3 (Pza) Disponibles</p>
                        </div>

                        <div class="col-md-1 mt-5 pt-1">
                        <button type="button" class="btn btn-light mb-2"><i class="fas fa-plus"></i> </button>
                        <button type="button" class="btn btn-light"><i class="fas fa-minus"></i> </button>
                        </div>
                        
                        <div class="col-md-1 mt-5 pt-3">
                        <h2 class="h4"><i class="fas fa-dollar-sign"></i> <%= micarrito[i].priceProduct %></h2>
                        </div>

                    </div>
                </div>
            </div>
        </div>
<% } %>
        

         <div class="col-md-12">
            
            <div class="card">
                <div class="container">
                    <div class="row">

                        <div class="col-md-2">
                           
                        </div>

                        <div class="col-md-6">
                                
                        </div>

                        
                        <div class="col-md-2 mt-5 pt-3">
                        <h6 class="card-subtitle mb-2 text-muted">Total productos: (<%= micarrito.length %>)</h6>
                        <a href="#" class="card-link text-success">Costo de envio:</a>
                       
                        </div>
                        
                        <div class="col-md-2 mt-5 pt-1">
                        <h2 class="h4"><i class="fas fa-dollar-sign"></i> <%= suma %></h2>
                        <p class="lead"><i class="fas fa-dollar-sign"></i> 0.00</p>
                       
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            
            <div class="card">
                <div class="container">
                    <div class="row">

                        <div class="col-md-2">
                           
                        </div>

                        <div class="col-md-6">
                                
                        </div>

                        
                        <div class="col-md-2">
                        <h2 class="h2">Total:</h2>
                        </div>
                        
                        <div class="col-md-2 mt-2">
                        <h2 class="h4"><i class="fas fa-dollar-sign"></i> <%= suma %></h2>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            
            <div class="card">
                <div class="container">
                    <div class="row">
                       
                        <div class="col-md-9">
                                
                        </div>

                        <div class="col-md-3 mt-2">
                        <a href="/pago">
                        <button type="button" class="btn btn-primary">Continuar pago</button>
                        </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>  

<section>
  <div class="container mb-5">
          <h1 class="lead text-center mt-5 mb-3" style="font-size: 30px"> Pensados para tu carrito de compras </h1>
          <div class="row">
              <div class="col-md-3">
            <div class="card" style="width: auto">
            <img class="card-img-top" src="img/productore6.png" alt="Card image cap">
            <div class="card-body text-center">
                 <h5 class="card-title">
                    <font size="3">Agenda estándar uPrint®</font>
                     <footer class="blockquote-footer text-center">desde <cite title="Source Title">$54 MXN</cite></footer>
                </h5>
                    <h5 class="mb-0">
                    <div class="showInfo" href="#collapse28" data-toggle="collapse" data-parent="#accordion">
                    <button type="button" class="btn btn-outline-light" data-toggle="tooltip" data-placement="right" title="Haz click para saber más acerca del producto">
                    <h1 class="text-info lead">Información <i class="fas fa-arrow-circle-down"></i></h1>
                    </button> 
                    </div>
                    </h5>

                    <div id="collapse28" class="collapse">
                    <div class="card-body">
                    <p class="text-left">
                    <font size="2">
                    <ul class="list-unstyled" style="text-align: left">
                <ul>
                <li>Modelo ergonómico</li>
                <li>Material resistente</li>
                <li>Personalizable al gusto</li>
                </ul>
                    </ul>
                    </font>
                    </p>
                    </div>
                    </div>
                    <a href="#" class="btn btn-info disabled" role="button" aria-disabled="true">Comprar (no disponible)</a>
            </div>
            </div>
            
        </div>  
    
          </div>
      </div>

</section>



<section id="totalcoz">
   <div class="container">
       <div class="row">
            <div class="col-md-12">
            
            <div class="card">
                <div class="container">
                    <div class="row">

                        <div class="col-md-4">
                           
                        </div>

                        <div class="col-md-2 mt-2">
                        <p>Total productos: (<%= micarrito.length %>)</p>        
                        </div>

                        
                        <div class="col-md-2">
                        <h2 class="h2">Total:</h2>
                        </div>
                        
                        <div class="col-md-2 mt-2">
                        <h2 class="h4"><i class="fas fa-dollar-sign"></i> <%= suma %></h2>
                        </div>
                        
                        <div class="col-md-2 mt-1">
                        <a href="/pago">
                        <button type="button" class="btn btn-primary">Continuar pago</button>
                        </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
       </div>
   </div>
</section>

  <!-- FOOTER -->
  <footer id="main-footer" class="pt-3 pb-5 text-white" style="background-image:url(img/dif3.png)">
      
      <div class="container mb-5">
        <div class="row text-center">
           
            <div class="col-md-4">
            </div>
            <div class="col-md-1">
                <i class="fab fa-facebook fa-3x"></i>
            </div>
            <div class="col-md-1">
                <i class="fas fa-envelope fa-3x"></i>
            </div>
            <div class="col-md-1">
                <i class="fas fa-phone-square fa-3x"></i>
            </div>
            <div class="col-md-1">
                <i class="fas fa-map-marker-alt fa-3x"></i>
            </div>
            <div class="col-md-3">
            </div>
        
        </div>
            </div>

    


    <div class="container">
      <div class="row text-center">

            <div class="col-md-1">
            </div>
            <div class="col-md-4">
                <h6 class="lead" style="font-size: 15px">
                <span id="year"></span>
                &copy; uPrint.com <br> Todos los Derechos Reservados
                </h6>
            </div>
              <div class="col-md-2">
                <a href="tc.html">
                <button type="button" class="btn btn-dark">Terminos & Condiciones</button>
                </a>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-2">
                <a href="tc2.html">
                <button type="button" class="btn btn-dark">Aviso de Privacidad</button>
                </a>
            </div>
             

      </div>
        
    </div>      

  </footer>


  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>

  <script>
    // Get the current year for the copyright
    $('#year').text(new Date().getFullYear());

    // Init Scrollspy
    $('body').scrollspy({ target: '#main-nav' });

    // Smooth Scrolling
    $("#main-nav a").on('click', function (event) {
      if (this.hash !== "") {
        event.preventDefault();

        const hash = this.hash;

        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 800, function () {

          window.location.hash = hash;
        });
      }
    });
  </script>

  <script>
    $('.carousel').carousel({
      interval: 3000,
      keyboard: true,
      pause: 'hover',
      wrap: true
    });

    $('#slider4').on('slide.bs.carousel', function () {
      console.log('SLIDE!');
    });

    $('#slider4').on('slid.bs.carousel', function () {
      console.log('SLID!');
    });

  </script>

  <script>
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
  })
  </script> 
    
  <!-- scripts -->
<script src="js/particles.js"></script>
<script src="js/app.js"></script>

<!-- stats.js -->
<script src="js/lib/stats.js"></script>
<script>
  var count_particles, stats, update;
  stats = new Stats;
  stats.setMode(0);
  stats.domElement.style.position = 'absolute';
  stats.domElement.style.left = '0px';
  stats.domElement.style.top = '0px';
  document.body.appendChild(stats.domElement);
  count_particles = document.querySelector('.js-count-particles');
  update = function() {
    stats.begin();
    stats.end();
    if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
      count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
    }
    requestAnimationFrame(update);
  };
  requestAnimationFrame(update);
</script>

</body>

</html>