<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="./img/iconuprint.png" id="">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
  <title>uPrint</title>
</head>

<body>

<nav id="navbar" class="navbar navbar-expand-md navbar-light fixed-top bg-light" id="main-nav">
    <div class="container">
      <a href="/dashboard" class="navbar-brand">
        <img src="../logo/homelogo-01.png" width="180px" height="32px" alt="">
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          

          <li class="nav-item pt-3 ml-2 mr-2">
            <a href="/kiosko" class="nav-link"><h1 class="lead" style="font-size: 22px"><i class="fas fa-home"></i> Kiosko </h1></a>
          </li>

          <li class="nav-item pt-3 ml-2 mr-2">
            <a href="/prodd" class="nav-link"><h1 class="lead" style="font-size: 22px"><i class="fas fa-box-open"></i> Productos </h1></a>
          </li>
         
          <li class="nav-item pt-3 ml-2 mr-2">
            <a href="/pro" class="nav-link"><h1 class="lead" style="font-size: 22px"><i class="fas fa-people-carry"></i> Pedidos </h1></a>
          </li>
         
         
          <li class="nav-item dropdown mt-2 pb-2 ml-2 mr-2">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
              <button type="button" class="btn btn-primary">
                
                <i class="fas fa-user text-white"></i>
                <span class="badge badge-light text-secondary">
                    <% if(user){ %>
                      <%= user.username %>
                    <% } else { %>
                    Usuario
                    <% } %>
                </span>
              </button>
            </a>

            <div class="dropdown-menu">
                <a href="/dashboard">
                <button class="btn btn-light ml-3 mr-1">
                <i class="fas fa-angle-double-right"></i>
                <span class="badge badge-light text-secondary">Menú admin</span>
                </button>
                </a>

                <a href="/logout">
                <button class="btn btn-light ml-3 mr-1">
                <i class="fas fa-sign-out-alt"></i>
                <span class="badge badge-light text-secondary">Cerrar sesión</span>
                </button>
                </a>
            </div>
            
          </li>    
            
        </ul>
      </div>
    </div>
  </nav>
 
  <!-- HEADER -->
  <header id="main-header" class="py-2">
    <div class="container">
      <div class="row">
      
        <div class="col-md-6">
          <h1><i class="fas fa-box-open"></i> Productos </h1>
        </div>

        <div class="col-md-5">
          
        </div>
          
        <div class="col-md-1" data-toggle="tooltip" data-placement="left" title="¿Necesitas ayuda acerca de como funciona la interfaz? ¡Haz click aquí!">
          <a href="" data-toggle="modal" data-target="#prodmodalhelp">
          <h1><i class="fas fa-question-circle text-right text-dark"></i></h1>
          </a>
        </div> 
          

      </div>
    </div>
  </header>

  <!-- ACTIONS -->
  <section id="actions" style="background-image:url(img/dif2.png)">
    <div class="container">
      <div class="row">
          
        <div class="col-md-2 mr-1 ml-1 mt-2 mb-2"> 
          <a href="/prodd" class="">
              <button class="btn btn-light pl-5 pr-5 mt-4" data-dismiss="">
                  <i class="fas fa-arrow-left"></i>  Regresar
              </button> 
          </a> 
        </div>

        <div class="col-md-5  mr-1 ml-1 mt-2 mb-2">
            <h2><i class="fas fa-edit mt-4"></i> Modificación de productos </h2>
        </div>
  
        <div class="col-md-2  mr-1 ml-1 mt-2 mb-2 text-right" data-toggle="tooltip" data-placement="bottom" title="Eliminar este producto">
            <div class="form-group"> 
             <a data-toggle="modal" data-target="#modconfirmar" class="btn btn-danger pl-5 pr-5 mt-4" style="color: white;">
              <i class="fas fa-trash-alt"></i> Eliminar
             </a>
            </div>
        </div>
        
        <div class="col-md-2 mr-1 ml-5 mt-4 mb-2">
          <a href="" data-toggle="modal" data-target="#prodmodalhelp">
          <h1><i class="fas fa-question-circle text-right text-dark" data-toggle="tooltip" data-placement="right" title="¿Necesitas ayuda acerca de como funciona la interfaz? ¡Haz click aquí!"></i></h1>
          </a>
        </div> 
          
      </div>
    </div>
  </section>

  <!-- POSTS -->
<section id="posts">
    <div class="container" style="background-image:url(img/dif2.png)">
        <div class="row">
            <div class="col-md-12">
        <form method="post" action="/actualizar" enctype="multipart/form-data">
        
            <input value="<%= producto.idProduct %>" name="id" type="hidden">
            <div class="row">
              <div class="col-md-5"></div>
            <div class="col-md-3">
                <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="right" title="Ingresa el nombre del producto a registrar (Máximo X caracteres)">
                  <h6 class="">Nombre: <i class="fas fa-info-circle"></i></h6>
                </button>
            </div>
              <div class="col-md-4"></div>
            </div>
              
            <div class="form-group">
              <input type="text" class="form-control" id="nombre" name="nombre" value="<%= producto.nameProduct %>">
            </div>

            <div class="form-group">
            <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="right" title="Ingresa el precio del producto con pesos y decimales ($ 0.00 MXN)">
                <h6 class="">Precio: <i class="fas fa-info-circle"></i></h6>
            </button>
            <input type="number" class="form-control" id="formGroupExampleInput" placeholder="..." name="precio" value="<%= producto.priceProduct %>" >
            </div>
              
            <div class="row">
              <div class="col-md-4">
                  <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="right" title="Ingresa la cantidad del producto en enteros (1 pieza)">
                  <h6 class="">Tiempo de entrega: <i class="fas fa-info-circle"></i></h6>
                  </button>
                  
                  <div class="form-group">
                  <input type="number" class="form-control" id="formGroupExampleInput" placeholder="..." name="tiempo" value="<%= producto.time %>">
                  </div>
            </div>

            <div class="col-md-4">
                  <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="right" title="Ingresa el minimo de los productos que deben estar en existencia en enteros (1 pieza)">
                  <h6 class="">Minimo: <i class="fas fa-info-circle"></i></h6>
                  </button>
                
                  <div class="form-group">
                  <input type="number" class="form-control" id="formGroupExampleInput" placeholder="..." name="min" value="<%= producto.min %>">
                  </div>
            </div>

              <div class="col-md-4">
                  <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="right" title="Ingresa el maximo de productos que pueden estar en existencia en enteros (1 pieza)">
                  <h6 class="">Máximo: <i class="fas fa-info-circle"></i></h6>
                  </button>

                  <div class="form-group">
                  <input type="number" class="form-control" id="formGroupExampleInput" placeholder="..." name="max" value="<%= producto.max %>">
                  </div>
              </div>
            </div>  
              

            <div class="form-group">
              <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="right" title="Ingresa la linea del producto a la que pertenece">
                  <h6 class="">Linea de producto: <i class="fas fa-info-circle"></i></h6>
              </button>

              <select class="form-control" id="categoria" name="categoria" value="<%= producto.idCategory %>">
                <% if(producto.idCategory == 2){ %>
                    <option value="2" aria-selected="true" disabled selected >Foto Libros</option>        
                <% } else{ %>  
                  <option value="2">Foto Libros</option>
                <% } %>
                <% if(producto.idCategory == 3){ %>
                  <option value="2" aria-selected="true" disabled selected>Foto Marcos</option>        
              <% } else{ %>  
                <option value="3">Foto Marcos</option>
              <% } %>
              <% if(producto.idCategory == 1){ %>
                <option value="1" aria-selected="true" disabled selected>Foto Regalos</option>        
            <% } else{ %>  
              <option value="1">Foto Regalos</option>
            <% } %>
             </select>
            </div>

            <div class="form-group">
              <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="right" title="Ingresa la linea del producto a la que pertenece">
                  <h6 class="">Hay en almacén: <i class="fas fa-info-circle"></i></h6>
              </button>

              <select class="form-control" id="exist" name="exist" value="<%= producto.enableProduct %>">
                <% if(producto.enableProduct == 1){ %>
                    <option value="true" aria-selected="true" disabled selected>Sí</option>        
                    <option value="false">No</option>
                <% } else{ %>  
                  <option value="true" >Sí</option>        
                    <option value="false" aria-selected="true" disabled selected>No</option>
                <% } %>
             </select>
            </div>

              <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="right" title="Sube la imagen del producto (Max 5mb)">
                  <h6 class="">Imagen: <i class="fas fa-info-circle"></i></h6>
              </button>
              <input value="<%= producto.imageProduct %>" name="imagen" type="hidden">
              <div class="custom-file">
                <label>Actual: <%= producto.imageProduct %></label>
                <br>
                <input type="file" name="file">
              </div>
              
              
              <div class="form-group">
                  <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="right" title="Ingresa la linea del producto a la que pertenece">
                      <h6 class="">Dimensiones: <i class="fas fa-info-circle"></i></h6>
                  </button>
                  <select class="form-control" id="dimen" name="dimen" value="<%= producto.idDimension %>">
                      <% if(producto.idDimension == 1){ %>
                        <option value="1" aria-selected="true">25 X 15</option>        
                    <% } else{ %>  
                      <option value="1">25 X 15</option>
                    <% } %>
                    <% if(producto.idDimension == 2){ %>
                        <option value="2" aria-selected="true">15 X 15</option>        
                    <% } else{ %>  
                      <option value="2">15 X 15</option>
                    <% } %>
                  </select>
                </div>

              <div class="form-group">
                <button type="button" class="btn btn-light mt-2" data-toggle="tooltip" data-placement="right" title="Ingresa la descripcion del producto, caracteristicas principales, datos significativos.">
                  <h6 class="">Descripción: <i class="fas fa-info-circle"></i></h6>
                </button>
                <textarea class="form-control" rows="3" id="comment" name="comment"><%= producto.featuresProduct %></textarea>
              </div>

              <div class="form-group"> 
                  <button class="btn btn-success pl-5 pr-5 mt-4" data-dismiss="" data-toggle="tooltip" data-placement="right" title="Guarda todos los cambios de este producto"><i class="fas fa-check-circle"></i> Guardar</button> 
              </div>

          </form>
                
            
            </div>
        </div>
    </div>
</section>
    <!-- Modal para confirmar eliminacion -->    
<div class="modal fade" id="modconfirmar">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header bg-dark text-white">
          <h5 class="modal-title">Seguro que desea eliminar el siguiente producto?</h5>
          <button class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4><%= producto.nameProduct %></h4>
            <div class="form-group"> 
                <a href="/eliminar/<%= producto.idProduct %>" class="btn btn-danger">
                 Si
                </a>
                <a  class="btn btn-danger" data-dismiss="modal" style="color: white;">
                   No
                  </a>
                 </div>
        </div>
       
        </div>
      </div>
    </div>

  <!-- FOOTER -->
  <footer id="main-footer" class="bg-dark text-white mt-5 p-5" style="background-image:url(img/dif3.png)">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="lead text-center">
            Copyright &copy;
            <span id="year"></span>
            ITM
          </p>
        </div>
      </div>
    </div>
  </footer>

  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
  <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>

  <script>
    // Get the current year for the copyright
    $('#year').text(new Date().getFullYear());

    CKEDITOR.replace('editor1');
  </script>
  
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

</body>

</html>