<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="./img/iconuprint.png" id="">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
  <title>uPrint</title>
</head>

<body id="home" data-spy="scroll" data-target="#main-nav">
  <nav id="navbar" class="navbar navbar-expand-md navbar-light fixed-top bg-light" id="main-nav">
    <div class="container">
      <a href="/" class="navbar-brand">
        <img src="../logo/homelogo-01.png" width="180px" height="32px" alt="">
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item pt-2">
                <a href="/" class="nav-link"><h1 class="lead pl-3 pr-3 pt-1 pb-1" style="font-size: 17px"> Inicio </h1></a>
                </li>
                
                <li class="nav-item pt-2">
                <a href="/productos" class="nav-link"><h1 class="lead pl-3 pr-3 pt-1 pb-1" style="font-size: 17px"> Productos </h1></a>
                </li>

                <li class="nav-item pt-2">
                <a href="/personalizar" class="nav-link"><h1 class="lead pl-3 pr-3 pt-1 pb-1" style="font-size: 17px"> Personalización </h1></a>
                </li>

                <li class="nav-item pt-2">
                <a href="/contacto" class="nav-link"><h1 class="lead pl-3 pr-3 pt-1 pb-1" style="font-size: 17px"> Contacto </h1></a>
                </li>

          <li class="nav-item pt-2">
              <button type="button" class="btn btn-info">
                <a id="shoppingBag" href="/carrito">
                <i class="fas fa-shopping-cart text-white"></i>
                <span class="badge badge-light text-secondary">3</span>
                <span class="sr-only">unread messages</span>
                </a>
             </button>
          </li>

          <li class="nav-item pt-2">
              <button type="button" class="btn btn-info">
                <a id="shoppingBag" href="/signin">
                <i class="fas fa-user text-white"></i>
                <span class="badge badge-light text-secondary">Usuario</span>
                <span class="sr-only">unread messages</span>
                </a>
             </button>
          </li>

        </ul>
      </div>
    </div>
  </nav>

<section id="cuerpo">
    
<section id="firstban">
    <!--Carousel-->
<section id="carousel">
    
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators">
    <li data-target="#carouselExampleFade" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleFade" data-slide-to="1"></li>
    <li data-target="#carouselExampleFade" data-slide-to="2"></li>
    <li data-target="#carouselExampleFade" data-slide-to="3"></li>
    <li data-target="#carouselExampleFade" data-slide-to="4"></li>
    <li data-target="#carouselExampleFade" data-slide-to="5"></li>
      </ol>

              

  <div class="carousel-inner">
      
     <div class="carousel-item active">
      <img class="d-block w-100" src="img/testbanner.png"
        alt="Second slide">
      <div class="carousel-caption d-none d-md-block text-right">
          <div class="container text-center">
                    <img src="img/choosecategorytittle.png" id="welcomeh1">
                    <img src="img/astronauta1.gif" id="welcomeh2" data-toggle="tooltip" data-placement="top" title="¿A dónde quieres ir?">
                    <div class="row">
                        
            
                        <div class="col-md-4">
                            <div class="bannpla1">
                                <img class="" id="bannpla1imagen" src="img/planet2.gif">
                            </div>
                            
                            <div id="bannpla1tittle" data-toggle="tooltip" data-placement="top" title="Haz click para visitar la sección de foto libros!">
                                <a href="#secfotolibros">
                                <img id="bannpla1tittleimagen" src="img/fotolibrostittle.png">
                                </a>
                            </div>
                            
                        </div>

                        <div class="col-md-4">
                            <div id="bannpla2">
                                <img class="" id="bannpla2imagen" src="img/planet3.gif">
                            </div>

                            <div id="bannpla2tittle" data-toggle="tooltip" data-placement="top" title="Haz click para visitar la sección de foto regalos!">
                                <a href="#secfotoregalos">
                                <img id="bannpla2tittleimagen" src="img/fotoregalostittle.png">
                                </a>
                            </div>
                            
                        </div>
                        
                        <div class="col-md-4">
                            <div id="bannpla3">
                            <img class="" id="bannpla3imagen" src="img/planet1.gif">
                            </div>
                            
                            <div id="bannpla3tittle" data-toggle="tooltip" data-placement="top" title="Haz click para visitar la sección de foto marcos!">
                            <a href="#secfotomarcos">
                            <img id="bannpla3tittleimagen" src="img/fotomarcostittle.png">
                            </a>
                            </div>
                        </div>

                    </div>
                </div>
      </div>
     </div>

    <div class="carousel-item">
      <img class="d-block w-100" src="img/ban1.png"
        alt="Second slide">
     
      <div class="carousel-caption d-none d-md-block text-left">

                <div class="container text-center">
                    <div class="row">
                        <div class="col-md-5">
                        <img class="" id="bann1" src="img/fotoregalosgif.gif" data-toggle="tooltip" data-placement="top" title="Elige distintos diseños y modelos!">
                        </div>
                        <div class="col-md-1 mb-1 mt-1"></div>
                        <div class="col-md-5 mr-1">
                    
                            <img src="img/bantittle1.png" id="bantittle1">

                            <i class="fas fa-coffee fa-3x pb-2 ml-4 mr-4" data-toggle="tooltip" data-placement="left" title="Tazas personalizadas"></i>
                            <i class="fas fa-mobile-alt fa-3x pb-2 ml-4 mr-4" data-toggle="tooltip" data-placement="top" title="Fundas de smartphone personalizadas"></i>
                            <i class="fas fa-key fa-3x pb-2 ml-4 mr-4" data-toggle="tooltip" data-placement="right" title="Llaveros personalizados"></i>
                            <p style="font-size: 15px">
                            Regala algo significativo y memorable a las personas más importantes para ti, encuentra termos, tazas, fundas de telefóno, llaveros y más!
                            </p>

                            <a href="#secfotoregalos" class="nav-link">
                            <button type="button" class="btn btn-light pl-4 pr-4" data-toggle="tooltip" data-placement="bottom" title="Encuentra más productos de esta categoria">
                            <i class="fas fa-search"></i> Navegar
                            </button>
                            </a>
                                
                        </div>
                    
                    </div>
                </div>
      </div>  
 
      
    </div>

    <div class="carousel-item">
      <img class="d-block w-100" src="img/ban2.png"
        alt="Second slide">
      <div class="carousel-caption d-none d-md-block text-right">
             <div class="container text-center">
                    <div class="row">
                        <div class="col-md-5">
                            
                            <img src="img/bantittle2.png" id="bantittle2">

                            <i class="fas fa-box-open fa-3x pb-2 ml-4 mr-4" data-toggle="tooltip" data-placement="left" title="Cajas personalizadas para guardar todas tus fotos"></i>
        
                            <i class="fas fa-magic fa-3x pb-2 ml-4 mr-4" data-toggle="tooltip" data-placement="right" title="Diferentes acabados de impresión para tus album"></i>

                            <p style="font-size: 15px">
                            Enmarca las imagenes más significativas y utiliza diferentes acabados para crear una textura más placentera y duradera!
                            </p>

                            <a href="#secfotomarcos" class="nav-link">
                            <button type="button" class="btn btn-light pl-4 pr-4" data-toggle="tooltip" data-placement="bottom" title="Encuentra más productos de esta categoria">
                            <i class="fas fa-search"></i> Navegar
                            </button>
                            </a>
                        </div>
                        <div class="col-md-1 mb-1 mt-1"></div>
                        <div class="col-md-5 mr-1">
                            <img class="" id="bann2" src="img/fondomarcosgif.gif" data-toggle="tooltip" data-placement="left" title="Guarda todos tus momentos importantes en una caja personalizada">
                        </div>
                    
                    </div>
                </div>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="img/ban3.png"
        alt="Third slide">
      <div class="carousel-caption d-none d-md-block text-left">
          <div class="container text-center">
                    <div class="row">
                        <div class="col-md-5">
                        <img class="" id="bann3" src="img/fondolibrosgif.gif" data-toggle="tooltip" data-placement="bottom" title="Elige distintos diseños y modelos!">
                        </div>
                        <div class="col-md-1 mb-1 mt-1"></div>
                        <div class="col-md-5 mr-1">
                            
                            <img src="img/bantittle3.png" id="bantittle3"><br>
                            
                            <i class="fas fa-calendar-alt fa-3x pb-2 ml-4 mr-4" data-toggle="tooltip" data-placement="left" title="Crea agendas personalizadas"></i>
                            <i class="fas fa-book fa-3x pb-2 ml-4 mr-4" data-toggle="tooltip" data-placement="right" title="Crea albums personalizados"></i>
                            <p style="font-size: 15px">
                             Recopila los momentos más importantes con tus seres queridos y crea un album a tu gusto o utiliza algún diseño predeterminado que tenemos para ti!
                            </p>

                            <a href="#secfotolibros" class="nav-link">
                            <button type="button" class="btn btn-light pl-4 pr-4" data-toggle="tooltip" data-placement="bottom" title="Encuentra más productos de esta categoria">
                            <i class="fas fa-search"></i> Navegar
                            </button>
                            </a>
                                
                        </div>
                    
                    </div>
                </div>    
      </div>
    </div>

     <div class="carousel-item">
      <img class="d-block w-100" src="img/ban5.png"
        alt="Second slide">
        <div class="carousel-caption d-none d-md-block text-right">
             <div class="container text-center">
                    <div class="row">
                        <div class="col-md-5">
                            
                            <img src="img/bantittle5.png" id="bantittle5">

                            <i class="fas fa-palette fa-3x pb-2 ml-4 mr-4" data-toggle="tooltip" data-placement="left" title=":)"></i>
        
                            <i class="fas fa-paint-brush fa-3x pb-2 ml-4 mr-4" data-toggle="tooltip" data-placement="right" title=":D"></i>

                            <p style="font-size: 15px">
                            Personaliza cualquier producto a tu gusto o utiliza alguno de nuestros diseños predeterminados, te mostraremos como hacerlo paso por paso!
                            </p>

                            <a href="/personalizar" class="nav-link">
                            <button type="button" class="btn btn-light pl-4 pr-4" data-toggle="tooltip" data-placement="bottom" title="Encuentra más productos de esta categoria">
                            <i class="fas fa-info-circle"></i> Leer más
                            </button>
                            </a>

                        </div>
                        <div class="col-md-1 mb-1 mt-1"></div>
                        <div class="col-md-5 mr-1">
                            <img class="" id="bann5" src="img/personalizaciongif.gif" data-toggle="tooltip" data-placement="top" title="Imprime tus diseños y momentos más importantes!">
                        </div>
                    
                    </div>
                </div>
      </div>
         
     </div>

    <div class="carousel-item">
        <img class="d-block w-100" src="img/ban.png"
        alt="Second slide">
    <div class="carousel-caption d-none d-md-block text-right">
          <div class="container text-center">
                    <div class="row">
                        <div class="col-md-5 mr-1">
                            
                        </div>
                        <div class="col-md-1 mb-1 mt-1"></div>
                        
                        <div class="col-md-5">
                            <img src="img/bantittle4.png" id="bantittle4">
                            <p style="font-size: 15px" class="mb-5 pb-2 mr-4 pr-5">
                            <a href="/contacto">
                            <button type="button" class="btn btn-light pr-3 mr-3" data-toggle="tooltip" data-placement="right" title="Escribenos y te atenderemos en lo que tu necesites">
                            ¿Dudas o comentarios? <i class="fas fa-phone"></i> 
                            </button>
                            </a>
                            </p>
                           
                            
                            <img class="" id="bann4" src="img/fondoiniciogif.gif" data-toggle="tooltip" data-placement="right" title="La variedad de nuestros productos te encantarán!">
                                
                        </div>
                    </div>
                </div>
      </div>    
        
    </div>

  </div>
 


  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <i style="font-size: 40px" class="fas fa-arrow-alt-circle-left"></i>
    <span class="sr-only">Previous</span>
  </a>



  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <i style="font-size: 40px" class="fas fa-arrow-alt-circle-right"></i>
    <span class="sr-only">Next</span>
  </a>
      </div>    
</section>

</section>

<section id="secfotoregalosdiv">
    <section id="secfotoregalos">

        <div class="jumbotron jumbotron-fluid" id="jumbofotoregalos">
            <div class="container" id="regalosproducttittle" data-toggle="tooltip" data-placement="bottom" title="Aquí encontrarás todos los productos de fotoregalos">
                <h1 class="display-4"><i class="fas fa-gift"></i> Foto Regalos</h1>
                <p class="lead">Encuentra diferentes tipos de termos, tazas y fundas para tu smartphone!</p>

                <span class="badge badge-primary"><i class="fas fa-prescription-bottle"></i> Termos</span>
                <span class="badge badge-secondary"><i class="fas fa-coffee"></i> Tazas</span>
                <span class="badge badge-success"><i class="fas fa-mobile-alt"></i> Fundas de smartphone</span>
                <span class="badge badge-danger"><i class="fas fa-puzzle-piece"></i> Rompecabezas</span>
                <span class="badge badge-warning"><i class="fas fa-mouse-pointer"></i> Mousepad</span>
                <span class="badge badge-info"><i class="fas fa-key"></i> Llaveros</span>
                <span class="badge badge-light"><i class="fas fa-coffee"></i> Café</span>
                <span class="badge badge-dark"><i class="fas fa-coffee"></i> Té</span>

            </div>
        </div>
        <div class="container" id="regalosproduct">
            <div class="row">
                <div class="col-md-12">
                        <div class="tab-content" id="myTabContent">

                            <div class="tab-pane fade show active" id="termo" role="tabpanel" aria-labelledby="termo-tab">
                                
                                <div class="container">
                                    <div class="row">
                                        <!--INICIA LA CONSULTA DE PRODUCTOS-->
                                        <% productos.forEach(producto => { %>
                                        <% if(producto.nameCategory == "Foto Regalos"){ %>
                                        <div class="col-md-3">
                                            <div class="card mb-5" style="width: auto">
                                                <img class="card-img-top" src="img/<%= producto.imageProduct %>" alt="Card image cap">
                                                <div class="card-body text-center">
                                                    <h5 class="card-title">
                                                        <font size="3"><%= producto.nameProduct %> uPrint®</font>
                                                        <footer class="blockquote-footer text-center">desde <cite title="Source Title">$<%= producto.priceProduct %> MXN</cite></footer>
                                                    </h5>
                                                    <h5 class="mb-0">
                                                        <div class="showInfo" href="#collapse<%= producto.idProduct %>" data-toggle="collapse" data-parent="#accordion">
                                                            <button type="button" class="btn btn-outline-light" data-toggle="tooltip" data-placement="right" title="Haz click para saber más acerca del producto">
                                                                <h1 class="text-info lead">Información <i class="fas fa-arrow-circle-down"></i></h1>
                                                            </button> 
                                                        </div>
                                                    </h5>
                                                        <div id="collapse<%= producto.idProduct %>" class="collapse">
                                                            <div class="card-body">
                                                                <p class="text-left">
                                                                    <font size="2">
                                                                        <ul class="list-unstyled" style="text-align: left">
                                                                            <ul>
                                                                                    <li class="list-group-item"><span style="font-weight: bold; color: #17a2b8">Detalles del producto:</span><%= producto.featuresProduct %></li>
                                                                                    <li class="list-group-item"><span style="font-weight: bold; color: #17a2b8;">Dimensiones:</span><%= producto.widthDimension %> X <%= producto.heightDimension %></li>
                                                                                    <li class="list-group-item"><span style="font-weight: bold; color: #17a2b8;">Pedidos maximos:</span><%= producto.max %></li>
                                                                                    <li class="list-group-item"><span style="font-weight: bold; color: #17a2b8;">Pedidos minimos:</span><%= producto.min %></li>
                                                                                    <li class="list-group-item"><span style="font-weight: bold; color: #17a2b8;">Tiempo de entrega:</span><%= producto.time %></li>
                                                                                    <% if(producto.enableProduct == 1){ %>
                                                                                    <li class="list-group-item"><span style="font-weight: bold; color: #17a2b8;">Existencia en almacen:</span> <span style="color: rgb(41, 138, 83);" >Si</span></li>
                                                                                    <% } else{ %>  
                                                                                    <li class="list-group-item"><span style="font-weight: bold; color: #17a2b8; ">Existencia en almacen:</span><span style="color: rgb(177, 40, 40);">No</span></li>        
                                                                                    <% } %>  
                                                                            </ul>
                                                                        </ul>
                                                                    </font>
                                                                </p>
                                                            </div>
                                                        </div>
                                                         <a href="#" class="btn btn-info disabled" role="button" aria-disabled="true">Comprar (no disponible)</a>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                        <% } }); %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</section>
    
<section id="secfotomarcos">
    <div class="jumbotron jumbotron-fluid" id="jumbofotomarcos">
        <div class="container" data-toggle="tooltip" data-placement="bottom" title="Aquí encontrarás todos los productos de fotomarcos">
            <h1 class="display-4"><i class="fas fa-gift"></i> Foto Marcos</h1>
            <p class="lead">Siente la textura de todos nuestros modos de impresión!</p>
            <span class="badge badge-primary"><i class="fas fa-box-open"></i> Caja de fotos</span>
            <span class="badge badge-secondary"><i class="fas fa-magic"></i> Acabado Ultra</span>
            <span class="badge badge-success"><i class="fas fa-magic"></i> Acabado Lino</span>
            <span class="badge badge-danger"><i class="fas fa-magic"></i> Acabado Brillo</span>
            <span class="badge badge-warning"><i class="fas fa-magic"></i> Acabado X</span>
            <span class="badge badge-info"><i class="fas fa-magic"></i> Acabado X</span>
            <span class="badge badge-light"><i class="fas fa-magic"></i> Acabado X</span>
            <span class="badge badge-dark"><i class="fas fa-magic"></i> Acabado X</span>
        </div>
    </div>
    <div class="container" id="marcosproduct">
        <div class="row">

            <div class="col-md-12">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="container">
                            <div class="row">
                                <!--INICIA LA CONSULTA DE PRODUCTOS-->
                                <% productos.forEach(producto => { %>
                                    <% if(producto.nameCategory == "Foto Marcos"){ %>
                                    <div class="col-md-3">
                                        <div class="card mb-5" style="width: auto">
                                            <img class="card-img-top" src="img/<%= producto.imageProduct %>" alt="Card image cap">
                                            <div class="card-body text-center">
                                                <h5 class="card-title">
                                                    <font size="3"><%= producto.nameProduct %> uPrint®</font>
                                                    <footer class="blockquote-footer text-center">desde <cite title="Source Title">$<%= producto.priceProduct %> MXN</cite></footer>
                                                </h5>
                                                <h5 class="mb-0">
                                                    <div class="showInfo" href="#collapse<%= producto.idProduct %>" data-toggle="collapse" data-parent="#accordion">
                                                        <button type="button" class="btn btn-outline-light" data-toggle="tooltip" data-placement="right" title="Haz click para saber más acerca del producto">
                                                            <h1 class="text-info lead">Información <i class="fas fa-arrow-circle-down"></i></h1>
                                                        </button> 
                                                    </div>
                                                </h5>
                                                    <div id="collapse<%= producto.idProduct %>" class="collapse">
                                                        <div class="card-body">
                                                            <p class="text-left">
                                                                <font size="2">
                                                                    <ul class="list-unstyled" style="text-align: left">
                                                                        <ul>
                                                                                <li class="list-group-item"><span style="font-weight: bold; color: #17a2b8">Detalles del producto:</span><%= producto.featuresProduct %></li>
                                                                                <li class="list-group-item"><span style="font-weight: bold; color: #17a2b8;">Dimensiones:</span><%= producto.widthDimension %> X <%= producto.heightDimension %></li>
                                                                                <li class="list-group-item"><span style="font-weight: bold; color: #17a2b8;">Pedidos maximos:</span><%= producto.max %></li>
                                                                                <li class="list-group-item"><span style="font-weight: bold; color: #17a2b8;">Pedidos minimos:</span><%= producto.min %></li>
                                                                                <li class="list-group-item"><span style="font-weight: bold; color: #17a2b8;">Tiempo de entrega:</span><%= producto.time %></li>
                                                                                <% if(producto.enableProduct == 1){ %>
                                                                                <li class="list-group-item"><span style="font-weight: bold; color: #17a2b8;">Existencia en almacen:</span> <span style="color: rgb(41, 138, 83);" >Si</span></li>
                                                                                <% } else{ %>  
                                                                                <li class="list-group-item"><span style="font-weight: bold; color: #17a2b8; ">Existencia en almacen:</span><span style="color: rgb(177, 40, 40);">No</span></li>        
                                                                                <% } %>  
                                                                        </ul>
                                                                    </ul>
                                                                </font>
                                                            </p>
                                                        </div>
                                                    </div>
                                                     <a href="#" class="btn btn-info disabled" role="button" aria-disabled="true">Comprar (no disponible)</a>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    <% } }); %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<section id="secfotolibros">
    <div class="jumbotron jumbotron-fluid" id="jumbofotolibros">
        <div class="container" data-toggle="tooltip" data-placement="bottom" title="Aquí encontrarás todos los productos de fotolibros">
            <h1 class="display-4"><i class="fas fa-gift"></i> Foto Libros</h1>
            <p class="lead">Renueva la manera de crear album de fotos con tus seres queridos!</p>
            <span class="badge badge-primary"><i class="fas fa-calendar-alt"></i>  Agendas</span>
            <span class="badge badge-secondary"><i class="fas fa-book"></i> Eventos</span>
            <span class="badge badge-success"><i class="fas fa-book"></i> Bodas</span>
            <span class="badge badge-danger"><i class="fas fa-book"></i> Bautizos</span>
            <span class="badge badge-warning"><i class="fas fa-book"></i> Graduaciones</span>
            <span class="badge badge-info"><i class="fas fa-edit"></i> Personalizaciones</span>
            <span class="badge badge-light"><i class="fas fa-camera"></i> Sesiones de fotos</span>
            <span class="badge badge-dark"><i class="fas fa-video"></i> Cinematografía</span>
        </div>
    </div>
    <div class="container" id="jumboproduct">
        <div class="row">

            <div class="col-md-12">
                
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home2" role="tabpanel" aria-labelledby="home2-tab">
                        <div class="container">
                            <div class="row">
                                <!--INICIA LA CONSULTA DE PRODUCTOS-->
                                <% productos.forEach(producto => { %>
                                    <% if(producto.nameCategory == "Foto libros"){ %>
                                    <div class="col-md-3">
                                        <div class="card mb-5" style="width: auto">
                                            <img class="card-img-top" src="img/<%= producto.imageProduct %>" alt="Card image cap">
                                            <div class="card-body text-center">
                                                <h5 class="card-title">
                                                    <font size="3"><%= producto.nameProduct %> uPrint®</font>
                                                    <footer class="blockquote-footer text-center">desde <cite title="Source Title">$<%= producto.priceProduct %> MXN</cite></footer>
                                                </h5>
                                                <h5 class="mb-0">
                                                    <div class="showInfo" href="#collapse<%= producto.idProduct %>" data-toggle="collapse" data-parent="#accordion">
                                                        <button type="button" class="btn btn-outline-light" data-toggle="tooltip" data-placement="right" title="Haz click para saber más acerca del producto">
                                                            <h1 class="text-info lead">Información <i class="fas fa-arrow-circle-down"></i></h1>
                                                        </button> 
                                                    </div>
                                                </h5>
                                                    <div id="collapse<%= producto.idProduct %>" class="collapse">
                                                        <div class="card-body">
                                                            <p class="text-left">
                                                                <font size="2">
                                                                    <ul class="list-unstyled" style="text-align: left">
                                                                        <ul>
                                                                                <li class="list-group-item"><span style="font-weight: bold; color: #17a2b8">Detalles del producto:</span><%= producto.featuresProduct %></li>
                                                                                <li class="list-group-item"><span style="font-weight: bold; color: #17a2b8;">Dimensiones:</span><%= producto.widthDimension %> X <%= producto.heightDimension %></li>
                                                                                <li class="list-group-item"><span style="font-weight: bold; color: #17a2b8;">Pedidos maximos:</span><%= producto.max %></li>
                                                                                <li class="list-group-item"><span style="font-weight: bold; color: #17a2b8;">Pedidos minimos:</span><%= producto.min %></li>
                                                                                <li class="list-group-item"><span style="font-weight: bold; color: #17a2b8;">Tiempo de entrega:</span><%= producto.time %></li>
                                                                                <% if(producto.enableProduct == 1){ %>
                                                                                <li class="list-group-item"><span style="font-weight: bold; color: #17a2b8;">Existencia en almacen:</span> <span style="color: rgb(41, 138, 83);" >Si</span></li>
                                                                                <% } else{ %>  
                                                                                <li class="list-group-item"><span style="font-weight: bold; color: #17a2b8; ">Existencia en almacen:</span><span style="color: rgb(177, 40, 40);">No</span></li>        
                                                                                <% } %>  
                                                                        </ul>
                                                                    </ul>
                                                                </font>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <a href="/comprar" class="btn btn-info">Comprar</a>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    <% } }); %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>    



<section>
    <div class="container text-center mb-5 pb-5 mt-5 pb-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: auto">
                    <img class="card-img-top" src="img/card2.JPG" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Foto libros</h5>
                        <p class="card-text">Nuestros fotolibros ofrecen una alternativa a los albumes fotográficos tradicionales, ofreciendo un nivel de personalización, elegancia y portabilidad más creativa.</p>
                      
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card" style="width: auto">
                    <img class="card-img-top" src="img/card3.JPG" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title pb-3">Foto regalos</h5>
                        <p class="card-text">Lleva contigo las memorias de días pasados en articulos para compartir, asociar y mostrar ante el mundo de maneras dinamicas y emocionantes.</p>
                    
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card" style="width: auto">
                    <img class="card-img-top" src="img/card1.JPG" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title pb-3">Foto marcos</h5>
                        <p class="card-text">Inmortaliza las piezas clave y esenciales de tu memoria, haciendo uso de un enmarcado de alta calidad, al nivel de belleza de sus recuerdos más valioso.</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    
</section>
  <!-- FOOTER -->
  <footer id="main-footer" class="pt-3 pb-5 text-white" style="background-image:url(img/dif3.png)">
      
      <div class="container mb-5">
        <div class="row text-center">
           
            <div class="col-md-4">
            </div>
            <div class="col-md-1">
               <a> <i class="fab fa-facebook fa-3x"></i></a>
            </div>
            <div class="col-md-1">
                <a><i class="fas fa-envelope fa-3x"></i></a>
            </div>
            <div class="col-md-1">
               <A> <i class="fas fa-phone-square fa-3x"></i></A>
            </div>
            <div class="col-md-1">
                <a><i class="fas fa-map-marker-alt fa-3x"></i></a>
            </div>
            <div class="col-md-3">
            </div>
        
        </div>
            </div>



    <div class="container">
      <div class="row text-center">

            <div class="col-md-1">
            </div>
            <div class="col-md-4">
                <h6 class="lead" style="font-size: 15px">
                <span id="year"></span>
                &copy; uPrint.com <br> Todos los Derechos Reservados
                </h6>
            </div>
            <div class="col-md-2">
                <a href="/tc">
                <button type="button" class="btn btn-dark">Terminos & Condiciones</button>
                </a>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-2">
                <a href="/tc2">
                <button type="button" class="btn btn-dark">Aviso de Privacidad</button>
                </a>
            </div>
             

      </div>
        
    </div>      

  </footer>


  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>

  <script>
    // Get the current year for the copyright
    $('#year').text(new Date().getFullYear());

    // Init Scrollspy
    $('body').scrollspy({ target: '#main-nav' });

    // Smooth Scrolling
    $("#main-nav a").on('click', function (event) {
      if (this.hash !== "") {
        event.preventDefault();

        const hash = this.hash;

        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 800, function () {

          window.location.hash = hash;
        });
      }
    });
  </script>

  <script>
    $('.carousel').carousel({
      interval: 3000,
      keyboard: true,
      pause: 'hover',
      wrap: true
    });

    $('#slider4').on('slide.bs.carousel', function () {
      console.log('SLIDE!');
    });

    $('#slider4').on('slid.bs.carousel', function () {
      console.log('SLID!');
    });

  </script>

  <script>
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
  })
  </script>    

</body>

</html>